<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerEmployee :: headerEmployee" th:with="title='Arbeitsplatz Buchen'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarEmployee :: topbarEmployee"></div>
<!-- Side Navbar -->
<div th:insert="navbarEmployee :: navbarEmployee"></div>
<div class="content-container">
    <div class="addRessourceContainer">
        <h1>Arbeitsplatz Buchen</h1><br><br>
        <form method="post" th:action="@{/web/deskbookings/add}" th:object="${deskBooking}">
            <div th:if="${errorMessage != null}" class="alert alert-danger error-message">
                <p th:text="${errorMessage}"></p>
            </div>

            <div class="form-group">
                <label class="form-label" for="employeeName">Mitarbeiter</label>
                <input class="form-control" id="employeeName" name="employeeName" readonly
                       th:value="${employee.fname} + ' '+ ${employee.lname}" type="text">
                <input type="hidden" id="employeeId" name="employee.id" th:value="${employee.id}" />
            </div>
            <input type="hidden" id="employee.id" name="employee.id" th:field="${employee.id}"/>
            <div class="form-group">
                <label for="deskId">Arbeitsplatz</label>
                <select class="form-control" id="deskId" name="desk.id" th:field="*{desk.id}">
                    <option selected="selected" value="">--Select--</option>
                    <option th:each="desk : ${desks}" th:text="${desk.deskNr}" th:value="${desk.id}"></option>
                </select>
                <div th:errors="*{desk.id}" th:if="${#fields.hasErrors('desk.id')}"></div>
            </div>
                <input type="hidden" id="desk.id" name="desk.id" th:field="*{desk.id}"/>
                <div class="form-group">
                    <label class="form-label" for="date">Datum</label>
                    <input class="form-control" id="date" name="date"
                           th:field="*{date}"
                           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="date"/>
                    <div class="form-text"
                         th:errors="*{date}"
                         th:if="${#fields.hasErrors('date')}"></div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="start">Start</label>
                    <select class="form-select" id="start" name="start" th:field="*{start}">
                        <option value="">---Start---</option>
                        <option th:each="time : ${startTimes}"
                                th:text="${time}"
                                th:value="${time}"></option>
                    </select>
                    <div class="form-text"
                         th:errors="*{start}"
                         th:if="${#fields.hasErrors('start')}"></div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="end">Ende</label>
                    <select class="form-select" id="end" name="end" th:field="*{endTime}">
                        <option value="">---Ende--</option>
                        <option th:each="time : ${endTimes}"
                                th:text="${time}"
                                th:value="${time}"></option>
                    </select>
                    <div class="form-text"
                         th:errors="*{endTime}"
                         th:if="${#fields.hasErrors('endTime')}"></div>
                </div>
                <br>
                <br>
                <div class="button-row">
                    <button type="submit" class="button">Buchen</button>
                    <a class="button" role="button" style="margin-right: 50px" th:href="@{/web/deskbookings/mydeskbookings}">Meine Buchungen</a>
                </div>
        </form>
            </div>

        </div>
<div class="filler"></div>
</body>
</html>