<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <!-- Navigation content -->
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img src="/images/GreenLogo.png" alt="KlimaBuendnis Green Logo" height="180px"></div>
        <div class="col-6"><img src="/images/wabs.png" alt="WABS" height="190px" ></div>
        <div class="col-2"><img src="/images/kb_badge.png" alt="Badge" height="160px"></div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center">Edit Booking</h1>
    <form th:object="${booking}" th:action="@{/web/v1/bookings/update/{id}(id=${booking.id})}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="desk">Desk</label>
            <select class="form-control" id="desk" name="desk" th:field="*{desk}">
                <option th:each="desk: ${allDesks}" th:value="${desk.id}" th:text="${desk.deskNr}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Start</label>
            <input type="date" class="form-control" id="startDate" name="startDate" th:field="*{start}" required>
        </div>
        <div class="form-group">
            <label for="endDate">End</label>
            <input type="date" class="form-control" id="endDate" name="endDate" th:field="*{endTime}" required>
        </div>
        <div class="form-group">
            <label for="employee">Employee</label>
            <input type="text" class="form-control" id="employee" name="employee" th:field="*{employee.name}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/web/v1/bookings/my}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>
