<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Bookings</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body style="background-image: url('/img/bgbild.jpg');background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <!-- Navigation content -->
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img alt="KlimaBuendnis Green Logo" height="180px" src="/img/GreenLogo.png"></div>
        <div class="col-6"><img alt="WABS" height="190px" src="/img/wabs.png"></div>
        <div class="col-2"><img alt="Badge" height="160px" src="/img/kb_badge2.png"></div>
    </div>
</nav>
<div class="container-fluid">
    <br>
    <br>
    <div>
        <h1 class="text-center text-dark">My Work-Area Bookings</h1>
    </div>
    <br>
    <br>
    <div class="row-cols-sm-6 d-flex justify-content-center align-items-center flex-column flex-lg-row w-60 w-m-75 w-lg-90">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Booking Id</th>
                <!--<th scope="col">Employee</th>-->
                <th scope="col">Work-Area</th>
                <th scope="col">Date</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Created On</th>
                <th scope="col">Last Edited On</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking: ${myDeskBookings}"  th:id="'bookingRow-' + ${booking.id}">
                <td th:text="${booking.id}"></td>
<!--
                <td th:text="${booking.employee.fname } + ' ' + ${booking.employee.lname}"></td>
-->
                <td th:text="${booking.desk.deskNr}"></td>
                <td th:text="${#temporals.format(booking.date, 'MMMM d, yyyy')}"></td>
                <td th:text="${#temporals.format(booking.start, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.endTime, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getCreatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getUpdatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td>
                    <a class="btn btn-info" role="button" th:href="@{/web/deskBookings/view/{id}(id=${booking.id})}">View</a>
                </td>
                <td>
                    <a class="btn btn-warning" role="button" th:href="@{/web/deskBookings/update/{id}(id=${booking.id})}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" role="button" th:href="@{/web/deskBookings/cancel/{id}(id=${booking.id})}">Cancel</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>