<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerEmployee :: headerEmployee" th:with="title='Buchung bearbeiten'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarEmployee :: topbarEmployee"></div>
<!-- Side Navbar -->
<div th:insert="navbarEmployee :: navbarEmployee"></div>
<!-- Content -->
<div class="content-container">
    <div class="addRessourceContainer">
        <h1>Arbeitsplatz-Buchung bearbeiten</h1><br><br>
        <div class="scroll-container">
            <form method="post" th:action="@{/web/deskBookings/update}" th:object="${booking}">
                <!-- <form method="post" th:action="@{/web/deskBookings/update/{id}(id=${booking.id})}" th:object="${booking}">-->
                <div class="form-group">
                    <label for="id" hidden="hidden"></label>
                    <input class="form-control" id="id" name="id" required th:field="*{id}"
                           type="hidden">
                </div>
                <!-- <input type="hidden" id="deskId" name="deskId" th:value="${booking.desk.id}">-->

                <div class="form-group">
                    <label for="employee.name">Mitarbeiter</label>
                    <input class="form-control" id="employee.name" name="employee.name"
                           th:value="${employee.fname} + ' ' + ${employee.lname}" readonly>
                    <input type="hidden" id="employee.id" name="employee.id" th:value="${employee.id}">
                    <label for="deskId">Tisch</label>
                    <select class="form-control" id="deskId" name="desk.id" th:field="*{desk.id}">
                        <option selected="selected" value="">--Select Work-Area--</option>
                        <option th:each="desk : ${desks}" th:text="${desk.deskNr}" th:value="${desk.id}"></option>
                    </select>
                    <div class="form-text" th:errors="*{desk.id}"
                         th:if="${#fields.hasErrors('desk.id')}"></div>
                    <label for="date">Datum</label>
                    <input class="form-control" id="date" name="date" required th:default="${booking.getDate()}"
                           th:field="${booking.date}" type="date">
                    <div class="form-text" th:errors="*{date}"
                         th:if="${#fields.hasErrors('date')}"></div>
                    <label for="start">Startzeit</label>
                    <select class="form-select" id="start" name="start" th:field="*{start}">
                        <option value="">--Startzeit auswählen--</option>
                        <option th:each="time : ${uniqueStartTimes}"
                                th:text="${time}"
                                th:value="${time}"></option>
                    </select>
                    <div class="form-text" th:errors="*{start}"
                         th:if="${#fields.hasErrors('start')}">

                    </div>
                    <label for="endTime">Endzeit</label>
                    <select class="form-select" id="endTime" name="endTime" th:field="*{endTime}">
                        <option value="">--Endzeit auswählen--</option>
                        <option th:each="time : ${uniqueEndTimes}"
                                th:text="${time}"
                                th:value="${time}"></option>
                    </select>
                    <div class="form-text" th:errors="*{endTime}"
                         th:if="${#fields.hasErrors('endTime')}"></div>
                </div>
                <div class="button-row">
                    <button class="button" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="filler"></div>
</body>
</html>