<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Desk Bookings</title>
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="background-image: url('../../../static/img/background2.jpg');background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
</nav>
<div class="container-fluid">
    <br>
    <br>
    <div>
        <h1 class="text-center text-dark">Work-Area Bookings</h1>
    </div>
    <br>
    <br>
    <div style="display:flex;justify-content:flex-end;align-items:center;">
        <a class="btn btn-dark" role="button" style="margin-right: 100px"
           th:href="@{/web/deskbookings/admin/add}">Book a Work-Area</a>
    </div>
    <br>
    <br>
    <div class="row-cols-sm-6 d-flex justify-content-center align-items-center flex-column flex-lg-row w-60 w-m-75 w-lg-90">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Booking Id</th>
                <th scope="col">Employee</th>
                <th scope="col">Work-Area</th>
                <th scope="col">Date</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Created On</th>
                <th scope="col">Last Edited On</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking: ${viewAllDeskBookings}"  th:id="'bookingRow-' + ${booking.id}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.employee.fname } + ' ' + ${booking.employee.lname}"></td>
                <td th:text="${booking.desk.deskNr}"></td>
                <td th:text="${#temporals.format(booking.date, 'MMMM d, yyyy')}"></td>
                <td th:text="${#temporals.format(booking.start, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.endTime, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getCreatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getUpdatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td>
                    <a class="btn btn-info" role="button" th:href="@{/web/deskbookings/admin/view/{id}(id=${booking.id})}">View</a>
                </td>
                <td>
                    <a class="btn btn-warning" role="button" th:href="@{/web/deskbookings/admin/update/{id}(id=${booking.id})}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" role="button" th:href="@{/web/deskbookings/admin/cancel/{id}(id=${booking.id})}">Cancel</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
