<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cancel Booking</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body style="background-image: url('../../../static/img/background2.jpg');background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <!-- Navigation content -->
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img alt="KlimaBuendnis Green Logo" src=../../static/img/LogoWhite.png"></div>
        <div class="col-6"><img alt="WABS" src="../../../static/img/wabs_white.jpg"></div>
        <!--<div class="col-2"><img alt="Badge" src="../../static/img/Kb_Badge.png"></div>-->
    </div>
</nav>
<br>
<br>
<div>
    <h1 class="text-center text-dark">CANCEL BOOKING</h1>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">@{/web/deskBookings/add}" th:object="${deskBooking}"
        <div class="col-md-6">
            <form method="post" th:action="@{/web/desks/cancel/{id}(id=${booking.id})}" th:object="${booking}">
                <p class="text-center">Are you sure you want to cancel booking ID: <strong
                        th:text="${desk.id}"></strong>?</p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger my-2 my-sm-0 mr-3" type="submit">Confirm Cancellation</button>
                    <a class="btn btn-dark my-2 my-sm-0" th:href="@{/web/desks}">Back to Desks</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>
