<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerAdmin :: headerAdmin" th:with="title='Arbeitsplatz Buchen'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarAdmin :: topbarAdmin"></div>
<!-- Side Navbar -->
<div th:insert="navbarAdmin :: navbarAdmin"></div>
<div class="content-container">
    <div class="addRessourceContainer">
        <h1>Arbeitsplatz Buchen</h1><br><br>
        <form method="post" th:action="@{/web/deskbookings/admin/new}" th:object="${deskBooking}">
            <div th:if="${errorMessage}" class="alert alert-danger error-message">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="form-group">
                <label class="form-label" for="employee.id">Mitarbeiter</label>
                <select class="form-control" id="employee.id" name="employee.id" th:field="*{employee.id}">
                    <option th:each="employee : ${employees}"
                            th:text="${employee.fname} + ' '+ ${employee.lname}"
                            th:value="${employee.id}"></option>
                </select>
                <div class="form-text" th:errorclass="errors" th:errors="*{employee}"
                     th:if="${#fields.hasErrors('employee.id')}"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="deskNr">Arbeitsplatz</label>
                <select class="form-control" id="deskNr" name="desk.id" th:field="*{desk.id}">
                    <option th:each="desk : ${desks}"
                            th:text="${desk.deskNr}"
                            th:selected="${desk.id.equals(defaultDeskId) ? 'selected' : ''}"
                            th:value="${desk.id}"
                            th:data-deskNr="${desk.deskNr}"></option>
                </select>
                <div class="form-text"
                     th:errors="*{desk.deskNr}"
                     th:if="${#fields.hasErrors('desk.deskNr')}"></div>
            </div>

            <input type="hidden" id="desk.id" name="desk.id" th:field="*{desk.id}"/>
            <div class="form-group">
                <label class="form-label" for="date">Datum</label>
                <input class="form-control" id="date" name="bookingStart"
                       th:field="*{date}"
                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="date"/>
                <div class="form-text"
                     th:errors="*{date}"
                     th:if="${#fields.hasErrors('date')}"></div>
            </div>
            <div class="form-group">
                <label class="form-label" for="start">Start</label>
                <select class="form-select" id="start" name="start" th:field="*{start}">
                    <option value="">--Select Start Time--</option>
                    <option th:each="time : ${startTimes}"
                            th:text="${time}"
                            th:value="${time}"></option>
                </select>
                <div class="form-text"
                     th:errors="*{start}"
                     th:if="${#fields.hasErrors('start')}"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="end">Ende</label>
                <select class="form-select" id="end" name="end" th:field="*{endTime}">
                    <option value="">--Select End Time--</option>
                    <option th:each="time : ${endTimes}"
                            th:text="${time}"
                            th:value="${time}"></option>
                </select>
                <div class="form-text"
                     th:errors="*{endTime}"
                     th:if="${#fields.hasErrors('endTime')}"></div>
            </div>
            <button type="submit" class="button">Buchen</button>
            <a class="button" role="button" th:href="@{/web/desks}">Alle Arbeitsplätze</a>
            <a class="delete-button" role="button" th:href="@{/web/desks/view/{id}}">Abbrechen</a>
        </form>
    </div>
</div>
<div class="filler"></div>
</body>
</html>