<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerAdmin :: headerAdmin" th:with="title='Tisch erstellen'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarAdmin :: topbarAdmin"></div>
<!-- Side Navbar -->
<div th:insert="navbarAdmin :: navbarAdmin"></div>
<!-- Content -->
<div class="content-container">
    <div class="addRessourceContainer">
        <h1>Arbeitsplatz erstellen</h1><br><br>
        <div class="scroll-container">
            <form method="post" th:action="@{/web/desks/add}" th:object="${desk}">
                <div class="form-group">
                    <label for="deskNr">Arbeitsplatz Nummer</label>
                    <input class="form-control" id="deskNr" name="deskNr" th:field="*{deskNr}" type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{deskNr}"
                         th:if="${#fields.hasErrors('deskNr')}"></div>
                </div>
                <div class="form-group">
                    <label for="nrOfMonitors">Monitore</label>
                    <input class="form-control" id="nrOfMonitors" name="nrOfMonitors" th:field="*{nrOfMonitors}"
                           type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{nrOfMonitors}"
                         th:if="${#fields.hasErrors('nrOfMonitors')}"></div>
                </div>
                <div class="form-group">
                    <label for="ports">Ports</label>
                    <input class="form-control" id="ports" name="ports" th:field="*{ports}" type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{ports}"
                         th:if="${#fields.hasErrors('ports')}"></div>
                </div>
                <div class="button-row">
                    <button class="button" type="submit">Hinzufügen</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="filler"></div>
</body>
</html>