<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Desk</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body style="background-image: url('../../static/img/background2.jpg');background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img alt="KlimaBuendnis Green Logo" height="180px" src="../../static/img/LogoWhite.png"></div>
        <div class="col-6"><img alt="WABS" height="190px" src="../../static/img/W.A.B.S_green.jpg"></div>
        <div class="col-2"><img alt="Badge" height="160px" src="../../static/img/Kb_Badge.png"></div>
    </div>
</nav>
<br>
<br>
<div>
    <h1 class="text-center text-dark">ALL DESKS</h1>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div style="display:flex;justify-content:flex-end;align-items:center;">
                <a class="btn btn-dark" role="button" style="margin-right: 50px" th:href="@{/web/desks/add}">ADD A
                    DESK</a>
            </div>
            <br>
            <br>
            <div class="row-cols-sm-6 d-flex justify-content-center align-items-center flex-column flex-lg-row w-60 w-m-75 w-lg-90">
                <table class="table" id="bookingTable">
                    <thead>
                    <tr>
                        <td>DESK ID</td>
                        <td>DESK NUMBER</td>
                        <td>QTY OF MONITORS</td>
                        <td>PORTS</td>
                        <td>VIEW</td>
                        <td>EDIT</td>
                        <td>DELETE</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="desk: ${viewAllDesks}">
                        <td th:text="${desk.id}"></td>
                        <td th:text="${desk.deskNr}"></td>
                        <td th:text="${desk.nrOfMonitors}"></td>
                        <td>
                            <ul>
                                <li th:each="port : ${desk.ports}" th:text="${port.name}"></li>
                            </ul>
                        </td>
                        <td><a class="btn btn-info" role="button"
                               th:href="@{/web/desks/view/{id}(id=${desk.id})}">View</a></td>
                        <td><a class="btn btn-warning" role="button" th:href="@{/web/desks/update/{id}(id=${desk.id})}">Edit</a>
                        </td>
                        <td><a class="btn btn-danger" role="button" th:href="@{/web/desks/delete/{id}(id=${desk.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
