<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Desks</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Desk Number</th>
            <th>Number of Monitors</th>
            <th>Ports</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="desk, deskIndex : ${desks}"
            th:if="${deskIndex.index >= (pageNo - 1) * pageSize and deskIndex.index < pageNo * pageSize}">
            <td th:text="${desk.deskNr}"></td>
            <td th:text="${desk.nrOfMonitors}"></td>
            <td th:text="${desk.ports}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" th:href="@{/desks?page=0}" aria-label="First">First</a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/desks?page=${pageNo-1}}" aria-label="Previous">Previous</a></li>
            <li class="page-item" th:each="pageNo : ${#numbers.sequence(1, totalPages)}"><a class="page-link" href="#" th:href="@{/desks?page=${pageNo-1}}" th:text="${pageNo}"></a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/desks?page=${pageNo+1}}" aria-label="Next">Next</a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/desks?page=${totalPages-1}}" aria-label="Last">Last</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
