<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerAdmin :: headerAdmin" th:with="title='Desktrial'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarAdmin :: topbarAdmin"></div>
<!-- Side Navbar -->
<div th:insert="navbarAdmin :: navbarAdmin"></div>
<!-- Content -->
<div class="content-container">
    <div class="subcontainer">
        <h1>Alle Tische</h1>
        <table>
            <thead>
            <tr>
                <td>Tisch ID</td>
                <td>Tisch Nummer</td>
                <td>Anzahl Monitore</td>
                <td>Ports</td>
                <td>Aktion</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="desk: ${viewAllDesks}">
                <td th:text="${desk.id}"></td>
                <td th:text="${desk.deskNr}"></td>
                <td th:text="${desk.nrOfMonitors}"></td>
                <td th:text="${desk.ports}"></td>
                <td>
                    <a class="btn btn-info" role="button" th:href="@{/web/desk/view/{id}(id=${desk.id})}">Ansehen</a>
                    <a class="btn btn-warning" role="button" th:href="@{/web/desk/update/{id}(id=${desk.id})}">Bearbeiten</a>
                    <a class="btn btn-danger" role="button" th:href="@{/web/desks/delete/{id}(id=${desk.id})}">Löschen</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="filler"></div>
</body>
</html>