<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Desk</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body style="background-image: url(/images/Desks.jpg);background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img alt="KlimaBuendnis Green Logo" height="180px" src="/images/GreenLogo.png"></div>
        <div class="col-6"><img alt="WABS" height="190px" src="/images/wabs.png"></div>
        <div class="col-2"><img alt="Badge" height="160px" src="/images/kb_badge.png"></div>
    </div>
</nav>
<br>
<br>
<h1 class="text-center text-dark">EDIT DESK</h1>
<br>
<br>
<div style="display:flex;justify-content:flex-end;align-items:center;">
    <a class="btn btn-dark" role="button" style="margin-right: 50px" th:href="@{/web/desks}">VIEW ALL DESKS</a>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{/web/desks/update}" th:object="${updatedDesk}">
                <div class="mb-3">
                    <label class="form-label" for="id">ID</label>
                    <input class="form-control" id="id" name="id" readonly th:field="*{id}" type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{id}"
                         th:if="${#fields.hasErrors('id')}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="deskNr">DESK NR</label>
                    <input class="form-control" id="deskNr" name="deskNr" th:field="*{deskNr}" type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{deskNr}"
                         th:if="${#fields.hasErrors('deskNr')}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nrOfMonitors">NR OF MONITORS</label>
                    <input class="form-control" id="nrOfMonitors" name="nrOfMonitors" th:field="*{nrOfMonitors}"
                           type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{nrOfMonitors}"
                         th:if="${#fields.hasErrors('nrOfMonitors')}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ports">PORTS</label>
                    <input class="form-control" id="ports" name="ports" th:field="*{ports}" type="text">
                    <div class="form-text" th:errorclass="errors" th:errors="*{ports}"
                         th:if="${#fields.hasErrors('ports')}"></div>
                </div>
                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-info my-2 my-sm-0 mr-3" type="submit">UPDATE</button>
                    <a class="btn btn-dark my-2 my-sm-0" th:href="@{/web/desks}">CANCEL</a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>