<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Desk</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body style="background-image: url('/img/Desks.jpg');background-repeat:no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #96C01E;height: 200px;display:flex;align-items:center;">
    <div class=" row d-flex justify-content-evenly align-items-center" style="width:100%">
        <div class="col-4"><img alt="Klimabündnis Green Logo" height="180px" src="/img/GreenLogo.png"></div>
        <div class="col-6"><img alt="WABS" height="190px" src="/img/wabs.png"></div>
        <div class="col-2"><img alt="Badge" height="160px" src="/img/kb_badge2.png"></div>
    </div>
</nav>
<br>
<br>
<div>
    <h1 class="text-center text-dark">DESKS DETAILS</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <form method="get" th:action="@{/web/desks/view/{id}}" th:object="${myDesk}">
                <div class="mb-3">
                    <label class="form-label" for="deskNr">DESK NR</label>
                    <input class="form-control" id="deskNr" name="deskNr" readonly th:field="*{deskNr}" type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nrOfMonitors">NR OF MONITORS</label>
                    <input class="form-control" id="nrOfMonitors" name="nrOfMonitors" readonly
                           th:field="*{nrOfMonitors}" type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ports">PORTS</label>
                    <textarea class="form-control" id="ports" name="ports" readonly>
                        <th:block th:each="port : ${desk.ports}">
                            <span th:text="${port}+'\n'"></span>
                        </th:block>
                    </textarea>
                </div>
                <br>
                <div style="display:flex;justify-content:flex-end;align-items:center;">
                    <a class="btn btn-dark" role="button" style="margin-right: 100px;" th:href="@{/web/desks}">BACK</a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>