<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiterliste</title>
</head>
<body>
<h1>Mitarbeiterliste</h1>
<table>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.id}">...</td>
            <td th:text="${employee.fname}">...</td>
            <td th:text="${employee.lname}">...</td>
            <td th:text="${employee.nick}">...</td>
            <td th:text="${employee.role}">...</td>
            <td><a th:href="@{/web/deleteemployee/{id}(id=${employee.id})}">loeschen</a></td>
        </tr>
    </th:block>
</table>

<a th:href="@{/web/insertemployeeform}">Mitarbeiter hinzufügen</a>

</body>
</html>