<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mitarbeiterliste</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

</head>
<body>
<table>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.id}">...</td>
            <td th:text="${employee.fname}">...</td>
            <td th:text="${employee.lname}">...</td>
            <td th:text="${employee.nick}">...</td>
            <td th:text="${employee.role}">...</td>
            <td><a th:href="@{/web/deleteemployee/{id}(id=${employee.id})}">loeschen</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>