<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tisch einfügen</title>
</head>
<body>
<h1>Tisch einfügen</h1>

<form th:action="@{/web/insertdesk}" method="post" th:object="${mydesk}">

    <div class="form-group">
        <label for="deskNr">Tischnummer</label>
        <input type="text" id="deskNr" th:field="*{deskNr}"/>
        <p th:if="${#fields.hasErrors('deskNr')}" th:errorclass="error" th:errors="*{deskNr}"/>
    </div>
    <div class="form-group">
        <label for="nrOfMonitors">Anzahl der Monitore</label>
        <input type="text" id="nrOfMonitors" th:field="*{nrOfMonitors}"/>
        <p th:if="${#fields.hasErrors('nrOfMonitors')}" th:errorclass="error" th:errors="*{nrOfMonitors}"/>
    </div>
    <div class="form-group">
        <label for="ports">Liste der Ports</label>
        <input type="text" id="ports" th:field="*{ports}"/>
        <p th:if="${#fields.hasErrors('ports')}" th:errorclass="error" th:errors="*{ports}"/>
    </div>
    <button type="submit" name="action" value="save">speichern</button>
</form>

</body>
</html>