<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerEmployee :: headerEmployee" th:with="title='Error'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarEmployee :: topbarEmployee"></div>
<div class="content-container">
    <table>
        <thead>
        <tr>
            <th style="width:100%">Oops... Something went wrong!</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${errortitle}" class="error-message">
            <td style="width:100%" th:text="${errortitle}"></td>
        </tr>
        <tr th:if="${errormessage}" class="error-message">
            <td style="width:100%" th:text="${errormessage}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>