<div class="contenedor-menu" th:fragment="navbarEmployee">
    <!-- <a href="" class="btnMenu">Menu <i class="fa fa-bars"></i></a> -->

    <ul class="menu">
        <li><a th:href="@{/web/employee/start}">Home</a></li>
        <li><a href="#">Bookings <i class="fa fa-chevron-down"></i></a>
            <ul>
                <li><a th:href="@{/web/desks}">Work-Area</a></li>
                <li><a th:href="@{/web/ressource/allRessourcesEmployee}">Ressourcen</a></li>
                <li><a th:href="@{/web/roomBooking/allBookingsEmployee}">Räume</a><1/li>
            </ul>
        </li>
        <li><a href="#">Meine Buchungen <i class="fa fa-chevron-down"></i></a>
            <ul>
                <li><a th:href="@{/web/mydeskbookings}">Work-Area</a></li>
                <li><a th:href="@{/web/ressourceBooking/allBookingsEmployee}">Ressourcen</a></li>
                <li><a th:href="@{/web/room/roomBooking/allBookingsEmployee}">Räume</a></li>
                <li><a href="@{/web/bookinghistory/{id}}">Vergangene Buchungen</a></li>
            </ul>
        </li>
        <li><a href="#">Zurück</a></li>
    </ul>
</div>