<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerEmployee :: headerEmployee" th:with="title='Stockwerke'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarEmployee :: topbarEmployee"></div>
<!-- Side Navbar -->
<div th:insert="navbarEmployee :: navbarEmployee"></div>
<!-- Content -->
<div class="content-container">
    <div class="imgmapContainer">
        <h1>Stockwerk 1</h1>
        <!-- Hier wird deine Grundriss.svg eingebunden -->
        <img src="/static/img/MULLER7_2014_03_1OG-KBT_Buro.png" alt="Stockwerk 1" id="image" usemap="#image-map"
             style="width: 100%">

        <map name="image-map" id="image-map">
            <area target="" alt="" title="" href="" coords="9,1235,1257,1178,1305,1809,61,1879" shape="poly"
                  onclick="myFunction1()">
            <area target="" alt="" title="" href="" coords="57,1980,1358,1910,1375,3097,131,3123" shape="poly"
                  onclick="myFunction2()">
            <area target="" alt="" title="" href="" coords="1445,1909,2479,1887,2479,3114,1463,3096" shape="poly"
                  onclick="myFunction3()">
            <area target="" alt="" title="" href="" coords="2536,1900,3543,1891,3530,3117,2545,3104" shape="poly"
                  onclick="myFunction4()">
            <area target="" alt="" title="" href="" coords="4165,191,4853,204,4848,1724,4161,1720" shape="poly"
                  onclick="myFunction5()">
            <area target="" alt="" title="" href="" coords="3600,1885,4844,1877,4844,3121,3596,3121" shape="poly"
                  onclick="myFunction6()">
        </map>
    </div>
</div>
<script>


    function scaleImageMap() {
        var image = document.getElementById('image');
        var map = document.querySelector('map[name="image-map"]');
        var areas = map.getElementsByTagName('area');

        var widthRatio = image.clientWidth / image.naturalWidth;
        var heightRatio = image.clientHeight / image.naturalHeight;

        for (var i = 0; i < areas.length; i++) {
            var coords = areas[i].getAttribute('coords').split(',');
            var scaledCoords = [];

            for (var j = 0; j < coords.length; j++) {
                if (j % 2 === 0) {
                    // X coordinate
                    scaledCoords.push(Math.round(coords[j] * widthRatio));
                } else {
                    // Y coordinate
                    scaledCoords.push(Math.round(coords[j] * heightRatio));
                }
            }

            areas[i].setAttribute('coords', scaledCoords.join(','));
        }
    }

    // Skalierung der Image Map beim Laden der Seite und bei Größenänderungen des Fensters ausführen
    window.addEventListener('load', scaleImageMap);
    window.addEventListener('resize', scaleImageMap);

    //$('img[usemap]').rwdImageMaps();

    function myFunction1() {
        alert("You clicked room1!");
    }

    function myFunction2() {
        alert("You clicked room2!");
    }

    function myFunction3() {
        alert("You clicked room3!");
    }

    function myFunction4() {
        alert("You clicked room4!");
    }

    function myFunction5() {
        alert("You clicked room5!");
    }

    function myFunction6() {
        alert("You clicked room6!");
    }
</script>
<div class="filler"></div>
</body>
</html>