<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stockwerk</title>
</head>
<body>

<div class="image-container">
    <img src="/static/img/MULLER7_2014_03_1OG-KBT_Buro.png" height="100%" alt="Stockwerk 1" usemap="#workmap">
</div>


<map name="workmap">
  <area shape="poly" coords="15,1232,1268,1167,53,1890,1314,1827" alt="Raum1" href="Raum1.htm" onclick="myFunction1()">
    <area shape="poly" coords="60,1874,1367,1911,131,3126,1382,3125" alt="Raum2" href="Raum2.htm" onclick="myFunction()">
    <area shape="poly" coords="1454,1908,2487,1896,1467,3126,2498,3128" alt="Raum3" href="Raum3.htm" onclick="myFunction()">
    <area shape="poly" coords="2541,1898,3555,1890,2547,3128,3560" alt="Raum4" href="Raum4.htm" onclick="myFunction()">
    <area shape="poly" coords="3600,1893,4853,1884,3593,3129,4854,3131" alt="Raum5" href="Raum1.htm" onclick="myFunction()">
    <area shape="poly" coords="4163,200,4856,207,4155,1740,4860,1733" alt="Küche" href="Küche.htm" onclick="myFunction()">

</map>

<script>
    function myFunction1() {
        alert("You clicked room1!");
    }
</script>
</body>
</html>